@inherits ComponentCore<AskReview>

<MudDialog Style="width: 100%">
    <DialogContent>
        <MudText Typo="Typo.subtitle1" Color="Color.Primary" Class="mb-3" Style="text-align: center;">
            Your feedback helps us keep improving and makes it easier for new users to discover the platform.
        </MudText>

        @if (Platform != null && Platform != "webapp")
        {
            <div style="text-align: center;">
                @if (Platform == "windows")
                {
                    <MudButton Href="@_windowsReview" Target="_blank" OnClick="Reviewed" Variant="Variant.Filled">
                        <MudImage Src="/logo/microsoft-store.png" Class="me-2" Style="max-width: 20px;"></MudImage> Microsoft Store
                    </MudButton>
                }
            </div>
        }
        else
        {
            <MudText Typo="Typo.subtitle2" Color="Color.Secondary" Class="mb-3" Style="text-align: center;">
                Choose your preferred platform to leave a review:
            </MudText>

            <MudGrid Spacing="2">
                <MudItem xs="12" md="6">
                    <MudButton Href="@_windowsStore" Target="_blank" OnClick="Reviewed" Variant="Variant.Filled" FullWidth="true">
                        <MudImage Src="/logo/microsoft-store.png" Class="me-2" Style="max-width: 20px;"></MudImage> Microsoft Store
                    </MudButton>
                </MudItem>
            </MudGrid>
        }

    </DialogContent>
</MudDialog>

@code {
    [CascadingParameter] private IMudDialogInstance? MudDialog { get; set; }

    public string? Platform { get; set; }

    private readonly string _windowsReview = "ms-windows-store://review/?ProductId=9pb1pkrdd8l0";

    private readonly string _windowsStore = "https://apps.microsoft.com/detail/9pb1pkrdd8l0";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Platform = await JsRuntime.Utils().GetLocalStorage("platform");
    }

    private async Task Reviewed()
    {
        await JsRuntime.Utils().SetLocalStorage("store-reviewed", true.ToString().ToLower());
        MudDialog?.Close();
    }
}
