<MudAlert Severity="Severity.Warning" Variant="Variant.Outlined">
    <span class="me-2" style="font-weight: bold;">@GlobalTranslations.FeatureUnavailableMessage</span>@GlobalTranslations.FeatureUnavailableDescription
</MudAlert>
