<MudAlert Severity="Severity.Warning" Variant="Variant.Outlined" Dense="true" Class="@Css.Build().Small("my")">
    <span class="me-2" style="font-weight: bold;">@GlobalTranslations.FeatureUnavailableMessage</span>@GlobalTranslations.FeatureUnavailableDescription
</MudAlert>
