<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5145928155833172" crossorigin="anonymous"></script>
<div style="text-align: center">
    <ins class="adsbygoogle google-ads" data-ad-client="ca-pub-@AdClientId" data-ad-slot="@(((long)Section).ToString())"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

@code {
    [Parameter][EditorRequired] public AdUnit Section { get; set; } = AdUnit.Global;

    private const string AdClientId = "5145928155833172";

    public enum AdUnit : long
    {
        Global = 6236322353
    }
}
