@inject IJSRuntime JS

<div style="text-align: center" @key="_instanceKey">
    <ins class="adsbygoogle google-ads" data-ad-client="ca-pub-@AdClientId" data-ad-slot="@(((long)Section).ToString())"></ins>
</div>

<style>
    ins.adsbygoogle[data-ad-status='unfilled'] {
        display: none !important;
    }
</style>

@code {
    [Parameter][EditorRequired] public AdUnit Section { get; set; } = AdUnit.Global;

    private const string AdClientId = "5145928155833172";
    private readonly Guid _instanceKey = Guid.NewGuid();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("loadAds");
    }

    public enum AdUnit : long
    {
        Global = 6236322353
    }
}
